h1,
h2,
h3,
h4,
h5 {
	color: inherit;
}

p {
	font-size: 1rem;
	line-height: 1.5;
	font-weight: normal;
}

h1 {
	font-weight: normal;
	font-size: grid(1);
	line-height: 1;
	@include min-(font-size, 1, 32);
	@include max-(font-size, 1, 100);
}

h2 {
	font-weight: normal;
	font-size: grid(0.75);
	line-height: 1;
	@include min-(font-size, 0.75, 24);
	@include max-(font-size, 0.75, 80);
}

h3 {
	font-weight: normal;
	font-size: grid(0.6);
	line-height: 1;
	@include min-(font-size, 0.6, 18);
	@include max-(font-size, 0.6, 64);
}
