$color-primary: color(Blue);
$color-secondary: color(Purple);
$color-dark: color(Black);
$color-light: color(White);
$color-warning: color(Orange);
$color-error: color(Red);
$color-success: color(Green);
$color-border: color(Offwhite);